<section class="cta section">
  <div class="container cta__inner">
    <div>
      <span class="badge">Звʼязок</span>
      <h2>Готові обговорити ваш проєкт?</h2>
      <p>Давайте втілювати неймовірні проєкти разом :)</p>
    </div>
    <a class="button button-primary" href="https://t.me/bhagencyy">Бронюй дзвінок</a>
  </div>
</section>
